{{ define "main" }}
  <article class="nested-solid-line-height">
    <section class="cf tc f4 center measure-wide lh-solid {{ $.Param "text_color" | default "mid-gray" }}"> <!--- lh = line height --->
      {{- .Content -}}
    </section>
    <section class="flex-ns flex-wrap justify-around">
      {{ range .Paginator.Pages }}
        <div class="w-two-thirds mh6">
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>
{{ end }}
