{{/*  Site Landing Page  */}}
{{ define "main" }} 
 <article class="w-100 pt3 center">
    {{ .Content }}
    <div class="flex justify-between w-100 tc">
      {{ $ncols := 3}}
      {{ range $column, $el0 := (seq $ncols) }}
        <div class="flex flex-column w-100 pr0 pv0">
          {{ range $index, $element := (seq (len site.Params.homepage_order)) }}
            {{ if eq (mod $index $ncols) $column }}
              {{ $pagename := index (site.Params.homepage_order) $index }}
              {{ with $.Site.GetPage $pagename.name }}
                <div class="container">
                  <img src="{{.Params.featuredimage | default `/images/eclipse/eclipse01.jpg` }}"class="image">
                  <a href="{{ .RelPermalink }}">
                    <div class="overlay">
                      <div class="text">
                        {{ partial "work-title.html" . }}
                        <div class="f5 gray">{{ .Description }}</div>
                      </div>
                    </div>
                  </a>
                </div>
              {{ end }}
            {{end}}
          {{ end }}
        </div>
      {{end}}
      
    </div>  
  </article>
{{ end }}
